{%extends "base.html"%}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
<hr>
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>User</span></th>
                                <th><span>Created</span></th>
                                <th class="text-center"><span>Phone</span></th>
                                <th><span>Email</span></th>
                                <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        <img src="{{user.img.url }}" alt="">
                                        <a href="#" class="user-link">{{ user.full_name }}</a>
                                    </td>
                                    <td>{{ user.created_at }}</td>
                                    <td class="text-center">
                                        <p1>{{ user.phone }}</p1>
                                    </td>
                                    <td>
                                        <a href="#">{{ user.email }}</a>
                                    </td>
                                    <td style="width: 20%;">
                                        <a href="#" class="table-link text-warning">
                                            <span class="fa-stack">
                                                <i class="fa fa-trash-o" style="font-size:24px"></i>

                                            </span>
                                        </a>
                                        <a href="#" class="table-link text-warning">
                                            <span class="fa-stack">
                                                <i class='fas fa-edit' style='font-size:22px'></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}